@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    background-color: #457097; 
    font-family: "Noto Sans Thai", sans-serif;
    margin: 0;
    padding: 0;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.box {
    background-color: #ffffff; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /
}

.box-content {
    text-align: center;
}

.box-content h1 {
    font-size: 28px;
    color: #1976d2;
    margin: 0;
}

.box-content h2 {
    font-size: 1.5em;
    color: #e283e2; 
    margin: 10px 0;
}

.box-content h3 {
    font-size: 1.5em;
    color: #ff0000; 
    margin: 10px 0;
}

.box-content p {
    font-size: 1.1em;
    color: #333333; 
    margin: 10px 0;
}

.btn-register {
    display: inline-block;
    padding: 12px 24px;
    background-color: #2f63d3; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-register:hover {
    background-color: #2344a0; 
    transform: scale(1.05);
}

.box-link {
    transition: transform 0.3s;
}

.box-link:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .box {
        padding: 15px;
    }
    .box-container {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .box {
        padding: 10px;
    }
    .box-content h1 {
        font-size: 1.5em;
    }
    .box-content h2 {
        font-size: 1.2em;
    }
    .box-content p {
        font-size: 1em;
    }
    .btn-register {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}
